<html>
    <head>
        <title>About_Page</title>
        <link rel="stylesheet" href="/css/style.css" >
    </head>
    <body>
        <h1>{{>header}}</h1>
        <p>About Page</p>
        <img src="/img/S 006.jpg" alt="img" class="portrait">
        {{!-- <h1>{{title}}</h1> --}}
        <p>Created By : {{name}}</p>
        <footer>
           {{>footer}}
       </footer>
    </body>
</html>