<html>
    <head>
        <title>Help_Page</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>{{>header}}</h1>
        <p>Help Page</p>
        <p>
            Contact Details
            <div>
                Name : {{name}},
                mobile Number :{{MobileNo}}
            </div>
        </p>
        <footer>
           {{>footer}}
       </footer>
    </body>
</html>